@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../font//iconfont_play.ttf?t=1667662704926') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e667";
}

